---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div class="p-32 w-full h-screen border border-black grid grid-cols-2">
		<div class="flex flex-col gap-12 w-full h-full justify-center">
			<h1 class="text-[128px] text-white mix-blend-difference leading-none whitespace-nowrap z-40">Faisons De La Il Pizza!</h1>
			<p class="text-[16px] leading-[200%]">Nous sommes un restaurant food truck fictif basé à Paris, en France. Nous essayons d’offrir une variété de plats italiens et français pour votre plaisir. <br /> <br /> J’ai (dukc) créé ceci pour ma classe de français. Je voulais créer un site Web pour que ce food truck aille au-delà des attentes, et j’ai toujours voulu créer une sorte de site brutaliste/minimaliste dans ce style. J’ai également créé un rendu du food truck dans Blender, pour mieux visualiser la marque.
			</p>
		</div>
		<img src="/bus.png" alt="Bus" class="w-full h-full brightness-75 object-cover object-left">
	</div>
</Layout>
