---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Faisons De La Il Pizza!">
	<div class="p-32 w-full h-screen border border-black flex flex-col justify-center">
		<h1 class="text-[128px] text-white mix-blend-difference">Faisons De La Il Pizza!</h1>
	</div>
</Layout>
