---
import Layout from "../layouts/Layout.astro";
import * as MenuItem from "../components/MenuItem"
---

<Layout title="Menu">
    <div class="flex px-128 border border-black"><h1 class="text-[128px]">Menu</h1></div>
    <div class="flex flex-col py-32 gap-12 px-128 border border-black">
        <MenuItem.Section title="Petit déjeuner" times="8h00-11h40" />
        <MenuItem.Item title="Croissant au jambon et fromage" price="1,75€" />
        <MenuItem.Item title="Ommelete au jambon et fromage" price="3,25€" />
        <MenuItem.Item title="Crêpes" price="3,25€" />
    </div>
</Layout>
<div class="flex flex-col py-32 gap-12 px-128 border border-black">
    <MenuItem.Section title="Déjeuner" times="12h00-15h30" />
    <MenuItem.Item title="Pizza sur baguette" price="5,00€" />
    <MenuItem.Item title="Bouchées de pizza baguette" price="4,25€" />
    <MenuItem.Item title="Crêpes" price="3,25€" />
</div>