---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menu">
    <div class="flex px-128 border border-black"><h1 class="text-[128px]">Menu</h1></div>
    <div class="flex px-128 border border-black"><h1 class="text-[128px]">Menu</h1></div>
</Layout>