---
import Layout from "../layouts/Layout.astro";
import * as MenuItem from "../components/MenuItem";
---

<Layout title="Menu">
  <div class="flex px-128 max-[940px]:px-24 border border-black">
    <h1 class="text-[128px]">Menu</h1>
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <MenuItem.Section title="Petit déjeuner" times="8h00-11h40" />
    <MenuItem.Item
      client:visible
      title="Croissant au jambon et fromage"
      price="1,75€"
    />
    <MenuItem.Item
      client:visible
      title="Ommelete au jambon et fromage"
      price="3,25€"
    />
    <MenuItem.Item client:visible title="Crêpes" price="3,25€" />
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <MenuItem.Section title="Déjeuner" times="12h00-15h30" />
    <MenuItem.Item client:visible title="Pizza sur baguette" price="5,00€" />
    <MenuItem.Item
      client:visible
      title="Bouchées de pizza baguette"
      price="4,25€"
      serving="5 pièces"
    />
    <MenuItem.Item client:visible title="Crêpes" price="3,25€" />
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <MenuItem.Section title="Pizzas" times="9h00-19h30" />
    <MenuItem.ItemSection title="Pizzas spéciales" />
    <MenuItem.Item
      client:visible
      sub
      title="Pissaladière"
      price="3,00€"
      serving="par 1 tranche"
      desc="La pizza française classique avec une touche italienne. Ingredients: Croûte croustillante à pizza, Sauce tomate avec un soupçon d'oignon, Parmesan, Oliviers et anchois"
    />
    <MenuItem.ItemSection title="Pizzas classiques" />
    <MenuItem.Item
      client:visible
      sub
      title="Napolitaine"
      price="2,75€"
      serving="par 1 tranche"
    />
    <MenuItem.Item
      client:visible
      sub
      title="Pepperoni"
      price="2,66€"
      serving="par 1 tranche"
    />
    <MenuItem.Item sub title="Fromage" price="2,50€" serving="par 1 tranche" />
    <MenuItem.Item
      client:visible
      sub
      title="Amateurs de viande"
      price="2,75€"
      serving="par 1 tranche"
    />
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <MenuItem.Section title="Côtés" times="12h00-19h30" />
    <MenuItem.Item client:visible title="Frites" price="2,00€" />
    <MenuItem.Item client:visible title="Salade César" price="2,25€" />
    <MenuItem.Item client:visible title="Spaghetti" price="5,25€" />
    <MenuItem.Item client:visible title="Fettuccine Alfredo" price="5,25€" />
    <MenuItem.Item client:visible title="Baguette" price="1,25€" />
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <MenuItem.Section title="Dessert" times="16h00-19h30" />
    <MenuItem.Item
      client:visible
      title="Crème glacée à la vanille avec des fraises"
      price="3,50€"
    />
    <MenuItem.Item client:visible title="Crêpes et glacesr" price="4,25€" />
  </div>
  <div
    class="flex flex-col py-32 gap-12 px-128 max-[940px]:px-24 border border-black"
  >
    <div class="bg-brand px-24 py-8">
      <p class="text-[16px]">
        Dites "Faisons de la il pizza!" dans un accent Italien et obtenez une
        boisson gratuite!
      </p>
    </div>
    <MenuItem.Section title="Boissons" times="8h00-19h30" />
    <MenuItem.Item client:visible title="Eau" price="0,50€" />
    <MenuItem.Item client:visible title="Café" price="0,50€" />
    <MenuItem.ItemSection title="Soda" />
    <MenuItem.Item client:visible sub title="Coca-cola" price="1,00€" />
    <MenuItem.Item client:visible sub title="Sprite" price="1,00€" />
    <MenuItem.Item client:visible sub title="Orange" price="1,00€" />
    <MenuItem.Item client:visible sub title="Root-beer" price="1,00€" />
  </div>
</Layout>
